@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E2D3B;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2E3A46;
    height: 6vh;
}

img#logo {
    max-width: 3rem;
    margin-left: 2rem;
    padding: 1rem 0;
}